/* General layout styles */
.container {
  width: 80%;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #444;
  padding-bottom: 10px;
}

select,
input[type="text"],
button {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 22px);
}

button {
  background-color: #5c67f2;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #4a54e1;
}

/* Modal styling */
/* Base container for the modal, with backdrop effect */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* High z-index to ensure it's on top */
}

/* Modal content box */
.modal-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 50%; /* Adjust width as needed */
  max-width: 600px; /* Maximum width */
  animation: modalFadeIn 0.3s;
}

/* Animation to fade in the modal */
@keyframes modalFadeIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Styling for modal headers, typically h2 or h3 */
.modal-header {
  font-size: 1.6em;
  color: #333;
  margin-bottom: 20px;
}

/* Input and button styling within the modal */
.modal-content input[type="number"],
.modal-content button {
  padding: 8px 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 24px); /* Full width minus padding */
}

.modal-content button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modal-content button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  background-color: #efefef;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

li:hover {
  background-color: #e1e1e1;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
