.sidebar {
  margin-top: 75px;
  bottom: 0;
  left: 0;
  width: 100px;
  background-color: #f5f5f5; /* Warm white background color */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
  overflow-y: auto;
  padding-top: 20px;
}
.sidebarWrapper {
  padding: 20px;
  background-color: #f5f5f5;
}
.sidebarHr {
  border: none;
  background-color: #f5f5f5; /* The same as your sidebar background */
  height: 1px; /* or any height you prefer */
  margin: 0; /* to ensure it stretches to the full width */
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

sidebarIcon {
  margin-right: 15px;
}
